# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ / Cursor
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/
.bin/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db